button {
    margin-left: 20px;
    margin-right: 20px;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;
    color: #C9FBFF;
    font-weight: bold;
    text-decoration: underline;
}

.submitButtonContainer {
    text-align: center;
}