<html lang="">
<body>
<h1>Hello!</h1>
<p>Your account associated with {{email}} has been deleted on the coding_project page.</p>
<p>To access the page's content again just create a new account.</p>
<p>Thank you!</p>
</body>
</html>