<html lang="">
<head><title>Your password has been reset</title></head>
<body>
<h1>Hello!</h1>
<p>Your password has been reset on the coding_project page. Find your new password below:</p>
<p>{{newPassword}}</p>
</body>
</html>