<html lang="">
<body>
<h1>Welcome!</h1>
<p>Your account has been successfully registered at the coding_project webpage. Please validate your account using the link below:</p>
<p>{{emailValidationLink}}</p>
<p>Thank you!</p>
</body>
</html>